<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Nusantamart</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <link rel="stylesheet" href="styleee.css">
</head>

<body>

  <aside>
    <div class="left-content">
    <img src="bg.png" class="profile image" alt="bg" width="450">
    </div>
  </aside>

  <div class="container-fluid container-login">
    <div class="row">
      <div class="col-md-6 side-left">
        <img src="{{ url_for('static', filename='/assets/img/bg.png') }}" alt="">
      </div>
      <div class="col-md-6 title-header">
        <h1>Daftar Akun</h1>
        <p>Daftar untuk belanja produk Nusantara</p>

        <form action="login" , method="post">
          <div class="form-group">
            <input type="nama" name="nama" class="form-control" placeholder="Masukkan Nama Lengkap" required>
          </div>
          <div class="form-group">
            <input type="email" name="email" class="form-control" placeholder="Masukkan Alamat Email" required>
          </div>
          <div class="form-group">
            <input type="password" name="password" class="form-control" placeholder="Masukkan Password + Karakter"
              required>
          </div>
          <div class="form-group">
            <input type="password" name="konfirmasi_password" class="form-control"
              placeholder="Masukkan Konfirmasi Password" required>
          </div>
          <button type="submit" class="btn btn-info">Daftar</button>
        </form>
      </div>
    </div>
  </div>



</body>

</html>
