<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='logo.ico') }}">
</head>

<body>
  <nav class="navbar navbar-light bg-light">
  <div class="container d-flex flex-row justify-content-between">
      <h3><a class="text-dark" href="/">Nusantamart</a></h3>
      <div class="row d-flex justify-content-between align-items-center">
          <p class="menu-navbar"><a class="text-dark" href="#">Tentang</a></p>
          <p class="menu-navbar"><a class="text-danger" href="#" onclick=logout()>Keluar</a></p>
      </div>
  </div>
</nav>

  <div class="container p-5">
      <h1 class="bg-light p-2"><strong>Profil Data</strong></h1>
      <div class="container">
          <h1 id="nama"></h1>
          <h3 id="email"></h3>
      </div>
  </div>


  <script>
      window.addEventListener("DOMContentLoaded", function(e){
          e.preventDefault();
        const email = localStorage.getItem("email");
        if(email == null){
            location.href = '/signup';
        }

        const text_name = document.getElementById('nama');
        const text_email = document.getElementById('email');

        text_name.innerText = `Nama : ${localStorage.getItem('nama')}`;
        text_email.innerText = `Email : ${localStorage.getItem('email')}`;
    })
      function logout(){
          localStorage.clear();
          alert("Berhasil Keluar")
          location.href = '/signup';
      }
  </script>
</body>

</html>